.RadioGroup {
  display: flex;
  flex-direction: column;

  &-label {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }

  &-radio {
    &-label {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      line-height: 20px;
      color: #333333;
      cursor: pointer;
    }

    &-input {
      cursor: pointer;
    }
  }

  &-error {
    font-size: 12px;
    line-height: 16px;
    color: red;
  }
}
