@font-face {
  font-family: SB Sans Interface;
  font-weight: 400;
  src: url('../../public/fonts/SBSansInterface-Regular.woff2') format('woff2');
}
@font-face {
  font-family: SB Sans Interface;
  font-weight: 600;
  src: url('../../public/fonts/SBSansInterface-Semibold.woff2') format('woff2');
}
